.site {
    background: linear-gradient(90deg, rgba(195,134,0,1) 75%, rgba(255,255,255,1) 100%);
}

.site .maincontent {
    z-index: 0;
    left: 0;
    margin-left: 3%;
    width: 60%;
    padding: 50px;
    background-color: rgba(195, 133, 0, 0.808);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    min-height: 500px;
}

.defaultContainer {
    text-align: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 50px;
}

.defaultContainer h1, h2 {
    color: rgb(170, 116, 0);
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: 250%;
}

.defaultContainer p {
    font-size: 150%;
    padding: 10px 30px;
    margin-bottom: 5%;
}

.defaultContainer a {
    padding: 10px 20%;
    background-color: rgba(228, 156, 0, 0.658);
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 150%;
    font-weight: bold;
    border-radius: 15px;
    transition: background 0.3s, border-radius 0.3s;
}

.defaultContainer a:hover,
.project .content a:hover,
#projectCreate:hover {
    background-color: rgba(114, 78, 0, 0.815);
    border-radius: 100px;
}

.defaultContainer input{
    font-size: 125%;
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    padding: 10px 0;
}

#projectCreate {
    padding: 15px 50px;
    font-size: 125%;
    font-weight: bold;
    margin-top: 20px;
    transition: padding 0.3s, font-size 0.3s;
    border-radius: 15px;
    background-color: rgba(228, 156, 0, 0.658);
    color: #fff;
    text-shadow: 2px 2px #000;
    transition: background 0.3s, border-radius 0.3s;
}

.projectsContainer {
    text-align: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.849);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 3%;
}

.project {
    padding: 10px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    font-size: 125%;
    margin-top: 25px;
}

.project .content {
    display: flex;
    flex-direction: column;
}

.project .content span {
    padding: 10px 0;
}

.project .content a {
    padding: 10px 20%;
    background-color: rgba(228, 156, 0, 0.658);
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 100%;
    font-weight: bold;
    border-radius: 15px;
    transition: background 0.3s, border-radius 0.3s;
    width: 25%;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .defaultContainer h1 {
        font-size: 150%;
    }

    .defaultContainer p,
    .defaultContainer a {
        font-size: 125%;
    }
}

@media only screen and (max-width: 900px) {
    .site {
        background: linear-gradient(90deg, rgba(195,134,0,1) 80%, rgba(255,255,255,1) 100%);
    }

    .defaultContainer h1 {
        font-size: 125%;
    }

    .defaultContainer p,
    .defaultContainer a {
        font-size: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .site {
        background: linear-gradient(90deg, rgba(195,134,0,1) 90%, rgba(255,255,255,1) 100%);
    }

    .defaultContainer h1 {
        font-size: 125%;
        padding: 15px 0;
    }

    .defaultContainer p {
        font-size: 100%;
        padding: 15px 0;
    }

    .defaultContainer a {
        font-size: 100%;
    }

    #projectCreate {
        padding: 15px 40px;
        font-size: 100%;
        font-weight: bold;
        margin-top: 20px;
    }

    .project .content a {
        font-size: 60%;
        width: 30%;
    }
}